<a href="https://colab.research.google.com/github/JamesExeter/PandasWebScrapingMiniTutorial/blob/main/PandasWebScrapingMiniTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/The_World%27s_Billionaires'
df_list = pd.read_html(url)
len(df_list)

32

In [3]:
pd.read_html(url, index_col=1)[2]

                          No.  ... Source(s) of wealth
Name                           ...
Jeff Bezos                  1  ...              Amazon
Bill Gates                  2  ...           Microsoft
Bernard Arnault & family    3  ...                LVMH
Warren Buffett              4  ...  Berkshire Hathaway
Larry Ellison               5  ...  Oracle Corporation
Amancio Ortega              6  ...       Inditex, Zara
Mark Zuckerberg             7  ...            Facebook
Jim Walton                  8  ...             Walmart
Alice Walton                9  ...             Walmart
S. Robson Walton           10  ...             Walmart

[10 rows x 5 columns]

In [4]:
pd.read_html(url, match='Number and combined net worth of billionaires by year')[0].head()

   Year Number of billionaires Group's combined net worth
0  2020                   2095              $8.0 trillion
1  2019                   2153              $8.7 trillion
2  2018                   2208              $9.1 trillion
3  2017                   2043              $7.7 trillion
4  2016                   1810              $6.5 trillion

In [6]:
pd.read_html(url)[0].tail()

                                           0                                         1
6                         Latest publication                             April 7, 2020
7             Current list details (2020)[2]            Current list details (2020)[2]
8                                 Wealthiest                                Jeff Bezos
9                    New members to the list                                       178
10  Forbes: The World's Billionaires website  Forbes: The World's Billionaires website

In [ ]:
pd.read_html(
    url, 
    na_values=["Forbes: The World's Billionaires website"]
    )[0].tail()

In [7]:
pd.read_html(
    url,
    skiprows=3,
    header=0 
)[0].head()

                        Publisher Whale Media InvestmentsForbes family
0                     Publication                               Forbes
1                 First published                        March 1987[1]
2              Latest publication                        April 7, 2020
3  Current list details (2020)[2]       Current list details (2020)[2]
4                      Wealthiest                           Jeff Bezos